.content {
  display: flex;
  height: 100%;
  color: #2699fb;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-around;
  &-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    h1 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &-socials {
    padding-top: 20px;

    .arrow-pre {
      left: calc(50% - 64px);
      bottom: -30%;
      position: absolute;
      display: flex;
    }
    .arrow-next {
      right: 49vw;
      bottom: -30%;
      position: absolute;
      .slick-next {
        right: -25px !important;
      }
    }
    .pagination {
      font-size: 24px;
    }
    .pagination__disable {
      font-size: 24px;
      opacity: 0.5;
    }
  }
  &-pagination {
    height: 10px;
  }
}
@media screen and (max-width: 640px) {
  .content {
    height: 100%;
    padding-top: 40px;
    gap: 20px;
    &-container {
      padding: 0px 40px 0px;
      h1 {
        font-size: 22px;
        text-transform: none;
        font-weight: bold;
      }
      p {
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: none;
      }
      .content-stories {
        .slick-list {
          overflow: hidden;
        }
      }
    }
    &-posts {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 100%;
      .post-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .social-search {
        width: 100%;
      }
    }
    &-socials {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 0px;
      gap: 20px;
      .arrow-pre {
        left: calc(50vw - 32px);
        bottom: -40.86%;
        position: absolute;
      }
      .arrow-next {
        right: calc(50vw - 32px);
        bottom: -40.86%;
        position: absolute;
        .slick-next {
          right: -25px !important;
        }
      }
      .show-btn {
        position: absolute;
        bottom: 20px;
        left: 35%;
        padding: 10px 40px;
        border: 1px solid #5ca0f0;
        background-color: #ffff;
        color: #2699fb;
        border-radius: 5px;
        z-index: 10;
        cursor: pointer;
      }
      .post:last-child {
        .post-card::after {
          content: '';
          height: 90px;
          width: 300%;
          position: absolute;
          left: -60%;
          top: 170px;
          z-index: 2;
          background-image: linear-gradient(180deg, #ffffff96, #ffffffc2, #ffff);
        }
      }
    }
  }
}
