.contact {
  background-color: #edf7ff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  &-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .contact-decorator {
      flex: 1;
    }
    .contact-form {
      //   width: 251px;
      display: flex;
      flex: 0.5;
      flex-direction: column;
      padding-top: 20px;
      color: #2699fb;
      .form-title {
        padding-bottom: 40px;
      }
      .form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        input,
        select {
          width: 100%;
          height: 30px;
          border: 1px solid #2699fb;
          color: #2699fb;
          border-radius: 5px;
          padding-left: 8px;
          background-color: #d8edff;
        }
        ::placeholder {
          color: #2699fb;
        }
        .check-item {
          display: flex;
          align-items: flex-start;
          input {
            width: 11px;
            height: 11px;
            cursor: pointer;
            margin-top: 6px;
          }
          label {
            padding: 0px 0px 10px 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .contact {
    padding: 50px 0px;
    &-container {
      justify-content: center;
      .contact-decorator {
        display: none;
      }
      .contact-form {
        flex: 1;
        padding: 0px 15vw;
        .form-title {
          h1 {
            font-size: 25px;
          }
        }
        .form-inputs {
          gap: 12px;
          .check-item {
            input {
              margin-top: 6px;
            }
            label {
              padding: 0px 10px;
            }
          }
        }
      }
    }
  }
}
